$darkbrown: #83756D;
$grey: #898D8B;
$creme: #FADFD1;
$darkblue: #092b75;


body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
}

h1 {
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
}

button {
    width: 160px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12rem;
    background: transparent;
    font-size: 1.1rem; 
//    padding: 5px;
    &:hover {
        border: 2px solid #fff;
        font-weight: bold;
    }
}

// ***** Header ***** //

.header {
    padding: 10px;
    justify-content: center;
}

.menu {
    ul {
        li {
           display: inline-block;
            padding: 10px 0;
            a {
                transition: 0.4s;
                color: #000;
                text-transform: uppercase;
                padding: 0 10px;
                margin: 0 10px;
                font-weight: bold;
                &:hover {
                    color: $darkblue;
                }
            }
        }
    }
}
.social_icons {
    padding-top: 5px;
    justify-content: flex-end;
    i {
        font-size: 1.2rem;
        padding: 5px;
    }
    &:hover {
        color: $darkblue;
    }
}

// ***** Logo and Slider ***** //
.logo {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 300px;
    height: auto;
}

.bxslider {
    position: relative;
    p {
        position: absolute;
//        background: #fff;
//        opacity: 0.8;
//        width: 25%;
//        height: 15%;
        text-align: center;
        padding: 15px;
        bottom: 1%;
        z-index: 2;
        font-size: 3rem;
        color: #fff;
//        text-transform: uppercase;
        font-family: "Allura", cursive;
    }
}

// ***** Main Section ***** //

.about {
    padding: 20px;
    line-height: 22px;
    text-align: justify;
}

.small_photos {
    justify-content: space-between;
    margin: 25px auto;
    .small_photo {
        position: relative;
        width: 32%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid $grey;
    }
        #photo_1 {
           background-image: url(../images/M16_1054a.jpg);
        }
        #photo_2 {
            background-image: url(../images/M16_1059a.jpg);
        }
        #photo_3 {
            background-image: url(../images/M16_1136.jpg);
        }
        #photo_4 {
            background-image: url(../images/M16_1106.jpg);
            margin: 5px;
        }
        #photo_5 {
            background-image: url(../images/M16_1130.jpg);
            margin: 5px;
        }
        #photo_6 {
            background-image: url(../images/M16_1307.jpg);
            margin: 5px;
        }
        #photo_7 {
            background-image: url(../images/M16_1320.JPG);
            margin: 5px;
        }
}

.small_photo_title{ 
    width: 100%; 
    height: 50px; 
    background: #fff;
    color: $darkblue;
    opacity:0.9;
    position: absolute;
    bottom: 0;
    font-size: 18px; 
    font-weight:700; 
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    .small_photo_desc {
        display: none;
        text-transform: none;
    }
} 
.small_photo:hover{ 
    transition: 0.5;
    .small_photo_title {
    height: 100px;
        .small_photo_desc {
            padding: 5px;
            display: table;
            font-size: 16px;
            font-weight: normal;
            margin: 0 auto;
            
        }
    }
}

// ***** Newsletter ***** //
.newsletter {
   background: $darkblue;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
    justify-content: space-between;
    div {
        margin: 0 auto;
    }
        h2 {
        padding: 20px;
        }   
}
// ***** Footer ***** //
footer {
    margin-top: 20px;
}

.footer {
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: 33%;
        text-align: center;
        text-transform: uppercase;
    }
    .copy {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
}
//
///********** Medium devices only **********/
//@media (min-width: 992px) and (max-width: 1291px) {
//    html, body {
//        font-size: 16px;
//    }
//    .bxslider {
//        p {
//            font-size: 0.5rem;
//        }
//    }
//}
//
///********** Small devices only **********/
//@media (min-width: 768px) and (max-width: 991px) {
//    html, body {
//        font-size: 16px;
//    }
//}
//
///********** Extra small devices only **********/
//@media (max-width: 767px) {
//    html, body {
//        font-size: 14px;
//    }
//}