$darkbrown: #83756D;
$grey: #898D8B;
$creme: #FADFD1;
$darkblue: #092b75;


body {
    font-size: 18px;
    font-family: 'Cousine', monospace;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
}

button {
    width: 220px;
    height: 50px;
    border: 1px solid $darkblue;
    color: $darkblue;
    border-radius: 12rem;
    background: transparent;
    font-size: 1.1rem; 
//    padding: 5px;
    &:hover {
        border: 2px solid $darkblue;
        font-weight: bold;
    }
}

// ***** Header ***** //

.header {
    padding: 10px;
    justify-content: center;
}

.menu {
    ul {
        li {
           display: inline-block;
            padding: 10px 0;
            a {
                transition: 0.4s;
                color: #000;
                text-transform: uppercase;
                font-size: 1.2rem;
                padding: 0 10px;
                margin: 0 10px;
                font-weight: bold;
                &:hover {
                    color: $darkblue;
                }
            }
        }
    }
}
.social_icons {
    padding: 5px;
    justify-content: flex-end;
    .social_icon {
        width: 30px;
        height: 30px;
        padding: 2px;
    }
}

// ***** Logo and Slider ***** //
.logo {
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 10px;
}

.slider_container {
   max-width: 100%;
   margin: 0 auto;
   clear: both;
   padding: 0 35px;
    height: 1200px;
}
 
.slide {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0 0;
}
 
.bx-viewport .main-slide-1 {
   background-image: url('../images/slider_1.jpg');
}
 
.bx-viewport  .main-slide-2 {
   background-image: url('../images/slider_2.jpg');
}

.bx-viewport  .main-slide-3 {
   background-image: url('../images/M16_1096.jpg');
}
 
.bx-viewport img {
   display: block;
   position: absolute;
   right: 10%;
   top: 25%;
}
 
.main-slider-content {
   padding: 15% 2%;
   color: #fff;
   position: relative;
   z-index: 1;
    left: 5%;
}
 
.main-slider-content h1 {
   font-size: 46px;
   line-height: 33px;
   font-weight: 400;
}
 
//.main-slider-content p {
//   font-size: 18px;
//   margin-top: 25px;
//}
 
.main-slider-content a {
   position: relative;
   text-decoration: none;
   top: 30px;
   color: #fff;
   font-size: 20px;
   background: none;
   margin: 8px 0px;
   padding: 12px 30px;
   border: 1px solid #fff;
}

// ***** Main Section ***** //

.about {
    padding: 20px;
    line-height: 22px;
    text-align: justify;
}

.small_photos {
    justify-content: space-between;
    margin: 25px auto;
    .small_photo {
        position: relative;
        width: 32%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid $grey;
    }
        #photo_1 {
           background-image: url(../images/M16_1054a.jpg);
        }
        #photo_2 {
            background-image: url(../images/M16_1059a.jpg);
        }
        #photo_3 {
            background-image: url(../images/M16_1136.jpg);
        }
    
}

.small_photo_title{ 
    width: 100%; 
    height: 50px; 
    background: #fff;
    color: $darkblue;
    opacity:0.9;
    position: absolute;
    bottom: 0;
    font-size: 20px; 
    font-weight:700; 
    padding: 15px;
    text-align: center;
    .small_photo_desc {
        display: none;
    }
} 
.small_photo:hover{ 
    transition: 0.5;
    .small_photo_title {
    height: 100px;
        .small_photo_desc {
            padding: 5px;
            display: table;
            font-size: 16px;
            font-weight: normal;
            margin: 0 auto;
            
        }
    }
}

.buttons {
    justify-content: space-around;
    margin-bottom: 10px;
}
// ***** Newsletter ***** //


// ***** Footer ***** //
footer {
    padding: 10px 0;
}
    .copy {
    text-align: center;
        margin: 0 auto;
    }
