$brown: #613C45;
$yellow: #D9A73C;
$blue: #303049;
$creme: #EEEEDD;
$green: #778833;

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: $creme;
}

.container {
    width: 75%;
    margin: 0 auto;

}


// Header
nav {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu {
    ul {
        text-align: center;
        li {
           display: inline-block;
            padding: 30px 0;
            a {
                transition: 0.3;
                position: relative;
                color: $blue;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 20px;
                font-size: 1.8rem;
                font-weight: bold;
                &:hover {
                    color: $creme;
                }
            }
        }
    }
}

.hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: $creme;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.hover:hover:before {
  visibility: visible;
  background-color: $creme;

  transform: scaleX(1);
}


.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
 
.parallax h1 {
  color: $creme;
  font-size: 48px;
  line-height: 65px;
  margin-top: 20%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 
.parallax-1 {
  background-image: url(../images/bg-parallax.jpg);
}

// Main section

.section{
    padding: 40px;
    text-align: center;
    margin: 30px 0;
    div {
        h2 {
            font-size: 1.4rem;
            padding: 10px;
            text-transform: uppercase;
            color: $blue;
        }
        p {
            line-height: 1.6rem;
        }
    }
}

#projects {
    background-color: $blue;
    color: $creme;
    h2 {
        color: $creme;
    }
}

//.project {
//    display: inline-block;
//    margin: 30px;
//    background: $blue;
//    img {
//        width: 500px;
//        max-width: 100%;
//        height: auto;
//        transform: scale(1);
//        transition: .3s ease-in-out;
//        opacity: 1;
//        &:hover {
//            transform: scale(1.2);
//            opacity: .5;
//        }
//        &:hover .caption {
//            display: table;
//        }
//    }
//    .caption {
//        display: none;
//    }
//}

.grid {
	position: relative;
	margin: 30px;
	max-width: 100%;
    display: inline-block;
}

.grid figure {
	position: relative;
	overflow: hidden;
    width: 500px;
    max-width: 100%;
    height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.7;
}

.grid figure figcaption {
	padding: 2em;
	color: $creme;
	text-transform: uppercase;
    text-shadow: 1.5px 1.5px $blue;
	font-size: 1.3em;
    font-weight: 700;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 700;
}

.grid figure h3,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

//figure.effect-dexter {
//	background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
//	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
//}

figure.effect-dexter img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
	opacity: 0.3;
}

figure.effect-dexter figcaption::after {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	height: -webkit-calc(50% - 30px);
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
	padding: 3em;
	text-align: left;
}

figure.effect-dexter p {
	position: absolute;
	right: 60px;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}